.note { 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  overflow: hidden;
  padding: 20px;
  height: 250px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow:clip;
  white-space: nowrap;
   width: calc(100% - 40px);
}

.note p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Adjust the number of lines as needed */
  line-clamp: 5;
  flex-grow: 1; /* Allow the paragraph to take up remaining space */
  height: auto; /* Make sure height is automatic based on content */
}

.note button {
  background: none; 
  font-size: 0.8em;
  cursor: pointer;
  border: none ;
}
.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note h3:focus-visible{
  outline-width: 0;
}

.note p:focus-visible{
  outline-width: 0;
}