.notesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  padding-top: 0;
  width: 100%;
}

.addButton{ 
  background-color: rgba(0, 0, 0, 0.299); 
  border: 1px solid #0000002b; 
  border-radius: 8px; 
  overflow: hidden;
  padding: 20px;   
  height: 292px;
  width: 240px
}

.notesContainerList{
  display: flex;
  padding: 40px;
  padding-top: 0;
  flex-direction: column;
  gap:15px;
  height: 75em;
}

.notesContainerList .addButton{
  width: 104%;
}

.notesContainerList div{
  width: 100%;
}



