.app-container {
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.note-container{
  padding: 15px;
  padding-top: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.note-container h1{
  padding-left: 40px;
}